@font-face {
  font-family: "gaga";
  src: url(../fonts/gaga-nails-heebo-light.ttf);
}
@font-face {
  font-family: "gaga2";
  src: url(../fonts/gaga-nails-oleo-script-regular.ttf);
}
/*VARIABLES*/
/*VARIABLES*/
/*MAPS*/
/*HEADER*/
header {
  background-color: #f8c9d1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}
header.dark {
  background-color: rgb(77, 74, 74);
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  flex-wrap: wrap;
  align-items: center;
}
header nav ul li {
  margin-left: 15px;
  padding: 5px;
  transition: transform 0.3s ease;
  margin-top: 30px;
  margin-bottom: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "gaga";
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  transition: transform 0.3s ease;
}
header nav ul li:hover {
  transform: scale(1.2);
}

#logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
#logo img {
  width: 250px;
  transition: transform 0.3s ease;
}
#logo:hover img {
  transform: scale(1.1);
}

.navbar.navbar-expand-sm {
  display: none;
}

/*FOOTER*/
footer {
  background-color: #f8c9d1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 20px;
}
footer.dark {
  background-color: rgb(77, 74, 74);
}
footer div a img {
  transition: transform 0.3s ease;
}
footer div a img:hover {
  transform: scale(1.2);
}

.redes {
  padding: 10px;
  margin-right: 20px;
}

/*-------------------------------------------------------------------------FOOTER-----------------------------------------------------------*/
/*ESTILOS CURSOS.HTML*/
.navbar-nav {
  font-family: "gaga";
  font-size: 40px;
}
.navbar-nav a {
  color: white;
  text-decoration: none;
  background-color: #f5c1c7;
  padding: 0px;
  margin: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  filter: blur(0.1px);
}
.navbar-nav:last-child a {
  margin-right: 0;
}

article div {
  justify-content: center;
  align-items: center;
  padding: 60px;
}
article div h3 {
  font-family: "gaga";
  color: grey;
}
article div img {
  border: 2px solid #ddd;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  object-fit: cover;
}
article div img:hover {
  transform: scale(1.1);
}

.col-9 {
  border: 2px solid #ddd;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  align-items: center;
}

.col-9:hover {
  transform: scale(1.1);
}

/*ESTILOS CURSOS.HTML*/
/*ABOUT US*/
.about-us {
  padding: 40px 0;
  background-color: white;
  margin-left: 5px;
}
.about-us h2 {
  text-align: justify;
  font-family: "gaga";
  font-weight: bold;
  color: black;
}
.about-us p {
  margin-bottom: 20px;
  font-family: "gaga";
  font-weight: bold;
  color: black;
}
.about-us img {
  max-width: 100%;
  height: auto;
}

/*ALTO DEL CARROUSER*/
.img-custom-height {
  height: 700px;
  object-fit: cover;
  box-shadow: 0 0 20px 20px rgb(0, 0, 0);
}

/* TEXTO DENTRO DEL CAROUSEL*/
.blanco {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 3px black;
}

/*Estilos cards y buttons*/
.card {
  padding: 20px;
  align-items: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card {
  margin-bottom: 20px;
  margin-top: 40px;
}

.card .btn {
  padding: 10px 20px;
  background-color: #f8c9d1;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
}

button.btn {
  padding: 10px 20px;
  background-color: #f8c9d1;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ccc;
}

button.btn.btn-primary:hover {
  background-color: #f8758b;
}

.card .btn:hover {
  background-color: #f8758b;
}

button.btn-outline-light {
  color: white;
}

button.btn-outline-light:hover {
  background-color: #f8758b;
  color: #ffffff;
}

/*BOTON DE MODO OSCURO*/
.switch {
  background: rgb(204, 204, 204);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: background-color 1s ease, color 1s ease;
}
.switch::after {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 1s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background-color: #f8c9d1;
  color: black;
}
.switch.active::after {
  right: 0;
  left: unset;
  transition: color 1s ease;
}
.switch span {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
  transition: color 1s ease;
}

/*ESTILOS GALERIA*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding: 40px 0;
}
.galeria img {
  height: 450px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  object-fit: cover;
  transition: transform 0, 5s;
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria a:hover img {
  filter: blur(1px);
  transform: rotate(30deg) scale(1.3);
}

.efecto-light {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(254, 221, 225, 0.5);
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.efecto-light img {
  width: 55vw;
  max-height: 95vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.efecto-light:target {
  transform: scale(1);
}

.cerrar {
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translateY(-50%);
  background: white;
  background-position: center;
  color: #f8c9d1;
  text-decoration: none;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 85px;
  border-radius: 50%;
  font-size: 70px;
  font-family: "gaga";
  font-weight: bolder;
  box-shadow: 0 0 10px rgb(249, 201, 201);
}

.sig {
  display: block;
  background: white;
  color: #f8c9d1;
  height: 90px;
  width: 90px;
  text-decoration: none;
  font-family: "gaga";
  font-size: 80px;
  margin: 40px;
  text-align: center;
  line-height: 90px;
  border-radius: 50%;
  font-size: 80px;
  transform: translateY(-50%);
  font-weight: bolder;
  box-shadow: 0 0 10px rgb(247, 190, 190);
  right: 10%;
}

/*ESTILOS GALERIA*/
/*ESTILOS CONTACTOS HTML*/
.contact-section {
  min-height: auto;
  font-family: "gaga";
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.contact-section li {
  list-style: none;
}

.contact-section .container {
  text-align: center;
  align-items: center;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.ubicacion h3 {
  font-family: "gaga";
  padding: 10px;
}
.ubicacion iframe {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

main {
  background-color: rgba(254, 221, 225, 0.5);
}

/* Estilos para el formulario de agendamiento de turnos */
.contact-form form:nth-child(2) {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.contact-form form:nth-child(2) label {
  font-weight: bold;
}

.contact-form form:nth-child(2) input[type=text],
.contact-form form:nth-child(2) input[type=email],
.contact-form form:nth-child(2) input[type=date] {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

.contact-form form:nth-child(2) button {
  padding: 10px 20px;
  background-color: #f8c9d1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form textarea {
  height: 100px;
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .contact-form form:nth-child(2) input[type=text],
  .contact-form form:nth-child(2) input[type=email],
  .contact-form form:nth-child(2) input[type=date] {
    width: auto;
  }
  .contact-form textarea {
    width: auto;
  }
}
.text-contacto {
  color: rgb(99, 99, 99);
  font-family: "gaga";
}

/*ESTILOS CONTACTOS HTML*/
/* HEADER*/
@media screen and (max-width: 767px) {
  header {
    height: auto;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .navbar {
    display: flex;
  }
  .navbar.navbar-expand-sm {
    display: block;
  }
}
/* HEADER*/
/*ALTO CARROUSEL*/
@media screen and (max-width: 767px) {
  .img-custom-height {
    height: auto;
  }
}
/*ALTO CARROUSEL*/
/*CURSOS*/
@media screen and (max-width: 767px) {
  header nav ul {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .nav-item {
    margin-left: 0px;
    padding: 1px;
    font-size: 40px;
    margin-top: 0px;
    margin: 0;
  }
  .navbar-nav a {
    margin-left: 0px;
    padding: 1px;
    font-size: 40px;
    margin-top: 0px;
    box-shadow: none;
    margin: 0;
    background-color: #f8c9d1;
  }
  .navbar-brand {
    color: white;
    font-family: "gaga";
    font-weight: bold;
  }
  .navbar-toggler-icon {
    color: white;
  }
}
@media screen and (max-width: 1400px) {
  .row {
    flex-direction: column;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
  }
  .col-3, .col-9 {
    width: 100%;
    text-align: center;
  }
}
/*CURSOS/*

/*GALERIA*/
@media screen and (max-width: 867px) {
  .cerrar a {
    display: block;
    height: 35px;
    width: 35px;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
  }
  .cerrar {
    font-size: 40px;
    height: 45px;
    width: 45px;
    right: 10%;
    line-height: 45px;
  }
  .sig a {
    display: block;
    height: 15px;
    width: 15px;
    font-size: 5px;
    padding: 0px;
    margin: 0px;
  }
  .sig {
    font-size: 40px;
    height: 45px;
    width: 45px;
    right: 10%;
    line-height: 45px;
    margin: 5%;
  }
}
/*GALERIA*/
.tituloproductos {
  text-align: center;
  padding: 20px 0;
  font-size: 70px;
  color: #f5c1c7;
  font-family: "gaga2";
  font-weight: lighter;
  font-style: initial;
}

.titulogaleria {
  text-align: center;
  padding: 20px 0;
  font-size: 70px;
  color: #f5c1c7;
  font-family: "gaga2";
  font-weight: lighter;
  font-style: initial;
}

.cursostitulo {
  text-align: center;
  padding: 20px 0;
  font-size: 70px;
  color: #f5c1c7;
  font-family: "gaga2";
  font-weight: lighter;
  font-style: initial;
}

/*CONTACTO*/
.titulocontacto {
  text-align: center;
  padding: 20px 0;
  font-size: 80px;
  color: #f5c1c7;
  font-family: "gaga2";
  font-weight: lighter;
  font-style: initial;
}

.h2subtitulo {
  text-align: center;
  padding: 20px 0;
  font-size: 70px;
  color: #f5c1c7;
  font-family: "gaga2";
  font-weight: lighter;
  font-style: initial;
}

/*CONTACTO*/
main .text-contacto.dark {
  color: white;
}
main.dark {
  background-color: black;
}

/*# sourceMappingURL=estilos.css.map */
