
/*ESTILOS CONTACTOS HTML*/
    main{
    background-color: rgba(254, 221, 225, 0.5);
    
}
    .form-area{
        padding-top: 2%;
    }

    .row.single-form{
        box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
        background: white;
    }
    .left{
        background: map-get($colors, color-primario );
        padding: 10%;
        padding-bottom: 20%;
        h2{
            font-family: "gaga";
            color: white;
            font-weight: 700;
            font-size: 48px;
            text-align: center;
            padding-bottom: 20%;
        }
        img{
            object-fit: cover;
            
            height: 250px;
            width: auto;
        }
    }
        .right{
            padding: 10%;
            position: relative;
                i{
                position: absolute;
                font-size: 80px;
                left: -27px;
                top: 40%;
                color: white;}
            button{
                
                width: 180px;
                padding: 15px 0;
                display: inline-block;
                font-size: 16px;
                margin-top: 20px;
                cursor: pointer;
            }
        }
    
    .form-control{
        border: 2px solid black;
    }

    @media screen and (max-width:1200px){
        .left{
        padding-top: 25%;
        h2{
            padding-bottom: 20px;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            
        }
       }
    }

    

    /*ESTILOS CONTACTOS HTML*/
    .contact-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      
        .location-info {
          flex: 1;
          padding: 20px;
          box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
          background-color: white;
          p{
            font-family: "gaga";
            color:  black;
          }
          h2{
            padding: 20px 0;
            color: map-get($colors, color-secundario);
            font-family: "gaga2";
            font-weight: lighter;
            font-style: initial;

          }
        }
      
        .map-container {
          flex: 1;
          padding: 20px;
          box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
          background-color: white;
         
          iframe {
            width: 100%;
            height: 300px; 
          }
        }
      
        @media screen and (max-width: 767px) {
          flex-direction: column;
      
          .location-info,
          .map-container {
            flex: auto;
            width: 100%;
            padding: 10px;
            text-align: center;
          }
        }
      }
      .contac-section{
        padding-top: 5%;
        padding-bottom: 5%;
        .ubicacion-title{
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
            padding: 20px 0;
            font-size: 70px;
            color: map-get($colors, color-secundario);
            font-family: "gaga2";
            font-weight: lighter;
            font-style: initial;
    }
        }
        
      