
/*ESTILOS CURSOS.HTML*/
.navbar-nav {
    font-family: "gaga";
    font-size: auto;

    a{
        color: map-get($colors, texto-claro); 
        text-decoration: none;
        background-color: none;
        padding: 0px;
        margin: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        
    }
    
    
}
.navcur {
    font-family: "gaga";
    font-size: 40px;
    background-color: map-get($colors, color-primario);
    width: auto;
    align-items: center;
    box-shadow: 0 0 6px rgb(236, 101, 153);
    a{
        color: map-get($colors, texto-claro); 
        text-decoration: none;
        width: auto;
        text-align: center;
        
        
    }
    
}
article div{
    justify-content: center;
    align-items: center;
    padding: 60px;
    h3{
    font-family: "gaga";
    color: grey;
}
    img{
    border: 2px solid #ddd;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    object-fit: cover;
    &:hover{
        transform: scale(1.1);
    } 

    }
    }



.col-9 {
    border: 2px solid #ddd;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    align-items: center;
    
}

.col-9:hover{
    transform: scale(1.1);
    }


/*ESTILOS CURSOS.HTML*/