/*FOOTER*/
footer {
    background-color: map-get($colors, color-primario);
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    padding: 5px;
    @include tamanios(100%, 100%);

    &.dark {
        background-color: map-get($colors, color-dark-primario);
    }
}


.infFooter {
    display: flex;
    font-family: "gaga";
    font-size: 15px;
    color: grey;
    font-weight: bold;
    flex-wrap: wrap;
    
}


.copyright {
    text-align: center;
    font-family: "gaga";
    font-size: 15px;
    color: grey;
    font-weight: bold;
}


.redes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}


.redes img {
    margin-left: 10px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}
/*-------------------------------------------------------------------------FOOTER-----------------------------------------------------------*/

