/*FOOTER*/
footer {
    background-color: map-get($colors, color-primario);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include tamanios(100px, 100%);
    padding: 0 20px;
    &.dark{
        background-color: map-get($colors, color-dark-primario);
    }

    div {
        a {
        img {
            transition: transform 0.3s ease;
            &:hover {
            transform: scale(1.2);
            }
        }
    }
    }
}

.redes{
    padding: 10px;
    margin-right: 20px;
}
/*-------------------------------------------------------------------------FOOTER-----------------------------------------------------------*/