
/*ABOUT US*/
.about-us {
    padding: 40px 0;
    background-color: map-get($colors, texto-claro); 
    margin-left: 5px;
    h2 {
    text-align: justify;
    font-family: "gaga";
    font-weight: bold;
    color: black;   
    }
    p {
    margin-bottom: 20px;
    font-family: "gaga";
    font-weight: bold;
    color: black;
    }
    img {
    max-width: 100%;
    height: auto;
    }
    }
    .ab-hor{
        padding-bottom: 60px;
        margin-top: 60px;
        h2{
            text-align: center;
            padding: 20px 0;
            font-size: 60px;
            color: map-get($colors, color-secundario);
            font-family: "gaga2";
            font-weight: lighter;
            font-style: initial;
            padding-bottom: 50px;
        }
    }

    /*ALTO DEL CARROUSER*/

    .img-custom-height{
        height: 700px;
        object-fit: cover;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 1.5);
    }

    /* TEXTO DENTRO DEL CAROUSEL*/
    .blanco{
        color: map-get($colors, texto-claro); 
        font-size: 30px;
        text-shadow: 0 0 3px black;
    
    }

    /*SERVICIOS*/
    .titulo-nuestros-servicios{
        @include titulo-general;
    }
    .servicios{
        margin-top: 60px;
        font-family: "gaga";
        h2{
            @include titulo-general;
        }
        h3{
            font-weight: bold;
        }
    }

    /*TESTIMONIOS*/
    .testimonios{
        margin-top: 60px;
        padding-bottom: 60px;
        font-family: "gaga";
        margin-bottom: 60px;
        h2{
            text-align: center;
            padding: 20px 0;
            font-size: 60px;
            color: map-get($colors, color-secundario);
            font-family: "gaga2";
            font-weight: lighter;
            font-style: initial;
        }
        h3{
            font-weight: bold;
        }
    }
    .fa-star{
        color: gold;
    }