
    /* HEADER*/

    @media screen and (max-width: 933px) {
        header {
            height: auto;
            padding: 2px;
            flex-direction: row;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .navbar{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .navbar.navbar-expand-sm{
            display: block;
        }
        
        }
        #logo{
            justify-content: center;
            align-items: center;
        }
    
    
        /* HEADER*/

        /*ALTO CARROUSEL IN*/

        @media screen and (max-width:767px) {
            .img-custom-height{
            height: auto;
            }
            }
        
        /*ALTO CARROUSEL*/

        /*CURSOS*/

    @media screen and (max-width: 933px) {

        header nav ul{
            display: none;
        }
        .navbar{
            display: flex;
        
        }
        .nav-item{
        margin-left: 0px;
        padding: 1px;
        font-size: 40px;
        margin-top: 0px;
        margin: 0;
        }
    
        .navbar-nav a{
        margin-left: 0px;
        padding: 1px;
        font-size: 40px;
        margin-top: 0px;
        box-shadow: none;
        margin: 0;
        background-color: none;
        }
        .navbar-brand{
        color: map-get($colors, texto-claro); 
        font-family: "gaga";
        font-weight: bold;
        }
        .navbar-toggler-icon{
        color: map-get($colors, texto-claro); 
        
        }
    
    }
    
        @media screen and (max-width: 1200px) {
        article .cursos {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5px;
        padding-bottom: 100px;
        justify-content: center;
        &:hover{
            transform: scale(1.0);
        }

        }
        
        .infcurso {
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: center;
        h3{
            font-size: large;
        }
        
        }
        .imgcurso{
            padding: 0px;
            padding-bottom:  10px;
            margin-bottom: 20px;
            width: 100%;
        text-align: center;
        height: auto;
        justify-content: center;
        
        }
        
        }
    
    /*CURSOS/*

    /*GALERIA*/

    @media screen and (max-width:867px){
        .cerrar a{
        display: block;
        @include tamanios(35px, 35px);
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        }
        .cerrar{
            font-size: 40px;
            @include tamanios(45px, 45px);
            right: 10%;
            line-height: 45px;
        }
        .sig a{
            display: block;
            height: 15px;
        width: 15px;
        font-size: 5px;
        padding: 0px;
        margin: 0px;
        }
        .sig{
            font-size: 40px;
            @include tamanios(45px, 45px);
            right: 10%;
            line-height: 45px;
            margin: 5%;
            
        }
    }
    @media screen and (max-width:743px){
        .cerrar a{
        display: none;
        @include tamanios(35px, 35px);
        font-size: 30px;
        padding: 0px;
        margin: 0px;
        }
        .cerrar{
            font-size: 40px;
            @include tamanios(45px, 45px);
            right: 10%;
            line-height: 45px;
            display: none;
        }
        .sig a{
            display: none;
            height: 15px;
        width: 15px;
        font-size: 5px;
        padding: 0px;
        margin: 0px;
        }
        .sig{
            font-size: 40px;
            @include tamanios(45px, 45px);
            right: 10%;
            line-height: 45px;
            margin: 5%;
            display: none;
            
        }
        .efecto-light{
            display: none;
    }
    .galeria a:hover img{
        filter: none;
        transform: none;
        }
}
    /*GALERIA*/