
/*TITULO DE PRODUCTOS.HTML*/
.tituloproductos{
        @include titulo-general;
    }
/*TITULO DE GALERIA.HTML*/
    .titulogaleria{
        @include titulo-general;
        }
/*TITULO DE CURSOS.HTML*/   
    .cursostitulo{
        @include titulo-general;
        }
/*CONTACTO*/
    .titulocontacto{
        @include titulo-general;
    }
    .h2subtitulo{
        text-align: center;
        padding: 20px 0;
        font-size: 80px;
        color: map-get($colors, color-secundario);
        font-family: "gaga2";
        font-weight: lighter;
        font-style: initial;
    }
/*CONTACTO*/

/*INDEX*/


.titulo-nuestros-servicios{
    @include titulo-general;
}
.titulo-testimonios{
    @include titulo-general;
}

/*FOOTER*/

.titulofooter{
        text-align: start;
        padding: 20px 0;
        margin-left: 5%;
        font-size: 40px;
        color: grey;
        font-family: "gaga2";
        font-weight: lighter;
        font-style: initial;
}
.tituloredes{
        font-family: "gaga2";
        text-align: end;
        color: grey;
        margin: 3%;
}