

.tituloproductos{
        @include titulo-general;
    }

    .titulogaleria{
        @include titulo-general;
        }
    
    .cursostitulo{
        @include titulo-general;
        }
    
        /*CONTACTO*/
    .titulocontacto{
        text-align: center;
        padding: 20px 0;
        font-size: 80px;
        color: map-get($colors, color-secundario);
        font-family: "gaga2";
        font-weight: lighter;
        font-style: initial;
    }
    .h2subtitulo{
        text-align: center;
        padding: 20px 0;
        font-size: 80px;
        color: map-get($colors, color-secundario);
        font-family: "gaga2";
        font-weight: lighter;
        font-style: initial;
    }

    /*CONTACTO*/