$esModoDark: false; 


@mixin light-mode {
  background-color: rgba(254, 221, 225, 0.5);
  color: #000000;
  
}


@mixin dark-mode {
  background-color: #0f0e0e;
  

  
}


@mixin aplicar-modo() {
  @if $esModoDark {
    @include dark-mode;
  } @else {
    @include light-mode;
  }
}


main {
    @include aplicar-modo;
}