




@font-face{
    font-family: "gaga";
    src: url(../fonts/gaga-nails-heebo-light.ttf);
}

@font-face{
    font-family: "gaga2";
    src: url(../fonts/gaga-nails-oleo-script-regular.ttf);
}




@import "vars&maps";
@import "header";
@import "footer";
@import "cursos";
@import "index";
@import "cards&button";
@import "galeria";
@import "contactos";
@import "mediaqueris";
@import "titulos";




